<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programacion</title>
</head>
<body>
    <p>Hola mundo</p>
    <p>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, facilis provident dolores quam dolorum molestias omnis eius quibusdam? Iste, eum. Dignissimos veritatis maiores perspiciatis sunt magnam dolore, odit vitae sed.</span> 
        <span>In accusamus quos a ipsum qui quas quasi veritatis praesentium distinctio dolorem esse cum laborum magnam libero alias minus, doloremque odio velit earum recusandae nisi consequuntur consequatur. Pariatur, corrupti molestiae?</span>
        <span>Cumque, explicabo reiciendis impedit iste excepturi aliquid atque mollitia ut obcaecati dicta. Autem dolor, ea laudantium illo delectus quas dicta voluptatem sit ipsam quae, aliquam rerum sed commodi suscipit aliquid?</span>
        <span>Mollitia excepturi sed nostrum, tempore placeat magnam non voluptate expedita id ullam veritatis delectus atque reprehenderit explicabo cumque et cum, sunt praesentium labore iure, dolorem ad quaerat velit. Fugiat, non.</span>
        <span>Quibusdam quae delectus voluptates quidem, nemo quos ex, reprehenderit optio minima ducimus a inventore qui sequi non totam temporibus corrupti illo veritatis ullam! Ea, ullam ipsam voluptate doloremque doloribus expedita?</span>
    </p>
</body>
</html>