<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" />
    <title>Programacion</title>
</head>

<body>
    <div id="container">
        <div id="cabecera">
            <p>Cabecera</p>
        </div>
        <div id="post">
            <h1>Inicio de Blog de Notas</h1>
            <p>Parrafo de inicio</p>
        </div>
        <di>
            <p>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, facilis provident dolores quam
                    dolorum molestias omnis eius quibusdam? Iste, eum. Dignissimos veritatis maiores perspiciatis sunt
                    magnam dolore, odit vitae sed.</span>
            </p>
        </di>
        <p>
            batman
        </p>
    </div>
</body>
</html>